/*
 *	index.css
 * 	Main stylesheet for index.html.
 *
 *	Author(s): Nim
 */

 
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);


body {
	font-family: 'Pontano Sans', sans-serif;
}

input {
	font-family: 'Pontano Sans', sans-serif;
}


/* ----- M A I N ----- */

#main {
	
}


/* ----- I N P U T ----- */

#input {
	padding: 5px;
	width: 400px;
	min-height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: left;
	color: rgb(230, 230, 230);
	background-color: rgb(60, 60, 60);
	box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
}

#input-title {
	text-align: center;
	font-size: 2em;
	color: rgb(120, 120, 120);
}
#input-author {
	font-size: 0.7em;
	margin-top: 10px;
	text-align: center;
	color: rgb(120, 120, 120);
}

#input .button {
	font-size: 1em;
	padding: 10px;
	width: 80%;
	text-align: center;
	cursor: pointer;
	color: rgb(230, 230, 230);
	margin: auto;
	margin-top: 10px;
}

#input-add, #input-export {
	background-color: rgb(0, 190, 240);
}

#input-add:hover, #input-export:hover {
	background-color: rgb(0, 180, 230);
}

#input-add:active, #input-export:active {
	background-color: rgb(0, 190, 240);
}

#input-clear {
	background-color: rgb(239, 32, 53);
}

#input-clear:hover {
	background-color: rgb(230, 32, 50);
}

#input-clear:active {
	background-color: rgb(239, 32, 53);
}

#input-clear, #input-export {
	display: none;
}


/* ----- E N T R Y ----- */

.entry {
	width: 85%;
	height: 40px;
	margin: auto;
	margin-top: 10px;
	position: relative;
}

.entry-color {
	display: inline-block;
	width: 15%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left:0px;
	text-align: center;
	cursor: pointer;
	background-color: rgb(249, 32, 53);
}

.entry-name {
	font-size: 1.7em;
	display: inline-block;
	width: 45%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 15%;
	border: none;
}

.entry-quantity {
	font-size: 1.7em;
	display: inline-block;
	width: 35%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 60%;
	border: none;
}


.entry-delete {
	display: inline-block;
	font-size: 1.7em;
	width: 15%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	position: absolute;
	top: 0px;
	left: 85%;
	text-align: center;
	cursor: pointer;
	background-color: rgb(239, 32, 53);
}

.entry-delete:hover {
	background-color: rgb(230, 32, 50);
}

.entry-delete:active {
	background-color: rgb(239, 32, 53);
}


/* ----- C H A R T ----- */

#chart {
	height: 100%;
	position: fixed;
	left: 410px;
	padding: 10px;
	top: 0px;
	background-color: rgb(240, 240, 240);
	/* Line above to be changed to: background-color: rgb(255, 255, 255); */
	z-index: -1;
}

#chart-pie {
	display: block;
	margin: auto;
	background-color: white;
}
