/*
 *	index.css
 * 	Main stylesheet for index.html.
 *
 *	Author(s): Nim
 */

 
@import url(https://fonts.googleapis.com/css?family=Pontano+Sans);


body {
	font-family: 'Pontano Sans', sans-serif;
}

input {
	font-family: 'Pontano Sans', sans-serif;
}


/* ----- M A I N ----- */

#main {
	
}


/* ----- I N P U T ----- */

#input {
	padding: 5px;
	width: 400px;
	height: 100%;
	position: fixed;
	top: 0px;
	left: 0px;
	text-align: left;
	color: rgb(255, 255, 255);
	background-color: rgb(0, 0, 0);
	box-shadow: 0px 0px 50px 10px rgba(0, 0, 0, 0.3);
}

#input-title {
	font-size: 3em;
}

#input-add {
	font-size: 1em;
	padding: 15px;
	width: 90%;
	text-align: center;
	cursor: pointer;
	color: rgb(0, 0, 0);
	margin: auto;
	margin-top: 10px;
	background-color: rgb(0, 200, 255);
}


/* ----- E N T R Y ----- */

.entry {
	
}

.entry-color {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin: 0px;
	padding: 0px;

	text-align: center;
	cursor: pointer;
	background-color: red;
}

.entry-name, .entry-quantity {
	font-size: 1em;
	height: 30px;
}

.entry-quantity {
	width: 100px;
}


.entry-delete {
	display: inline-block;
	width: 20px;
	height: 30px;
	margin: 0px;
	padding: 0px;
	text-align: center;
	cursor: pointer;
	background-color: red;
}

/* ----- C H A R T ----- */

#chart {
	height: 100%;
	position: fixed;
	left: 410px;
	padding: 10px;
	top: 0px;
	background-color: rgb(200, 200, 200);
	z-index: -1;
}

